<div class="form-group">
  <label for="signupFirstname">First Name</label>
  <input
    type="text"
    name="firstname"
    class="form-control"
    id="signupFirstname"
    placeholder="Enter first name"
  />
</div>
<div class="form-group">
  <label for="signupLastname">Last Name</label>
  <input
    type="text"
    name="lastname"
    class="form-control"
    id="signupLastname"
    placeholder="Enter last name"
  />
</div>
<div class="form-group">
  <label for="signupPhone">Phone Number</label>
  <input
    type="text"
    name="phone"
    class="form-control"
    id="signupPhone"
    placeholder="Enter phone number"
  />
</div>
<div class="form-group">
  <label for="signupRmail">Email address</label>
  <input
    type="email"
    name="email"
    class="form-control"
    id="signupRmail"
    aria-describedby="emailHelp"
    placeholder="Enter email"
  />
</div>
