<div style="display: inline-block;">
  <table class="table table-hoverx">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <% for(const ct of contacts){ %>
    <tr scope="row" class="table-success">
      <td><%= ct.firstName %></td>
      <td><%= ct.lastName %></td>
      <td><%= ct.primaryContactNumber %></td>
      <td><%= ct.primaryEmailAddress %></td>
    </tr>
    <% } %>
  </table>
</div>
